table {
	margin-left: auto;
	margin-right: auto;
	margin-top: 3%;
}
h2 {
	text-align: center;
	margin-top: 3%;
	margin-bottom: 4%;
}
input[type=text], .select, input[type=number] {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}
label {
	margin-top: 3%;
	margin-bottom: 1%;
}
input[type=submit] {
	margin-top: 5%;
	margin-bottom: 2%;
	width: 90px;
}
.add_btn {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90px;
	margin-bottom: 2%;
	margin-top: 2%;
}
td, th {
	text-align: center;
}
.btn_back {
	border-radius: 25px;
	position: absolute;
	top: 2%;
	left: 2%;
	width: 80px;
	padding: 7px;
}